:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.editor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.editor-source,
.editor-preview {
  height: 100%;
  overflow-y: auto;
  padding: 1.5em;
}

.editor-source {
  resize: none;
  border: none;
  border-right: 1px solid #d0d0d0;
  outline: none;
  font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  font-size: 0.95em;
  line-height: 1.5;
  background-color: #ffffff;
  color: #0f0f0f;
}

.editor-preview {
  background-color: #DAD7CD;
}

.editor-preview > :first-child {
  margin-top: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  .editor-source {
    background-color: #305252;
    color: #f6f6f6;
    border-right-color: #444444;
  }

  .editor-preview {
    background-color: #373E40;
  }
}
